#Ignores files called cleaning
cleaning.py

data.csv

crime_xlsx_all_years.xlsx

vancouverCrime2003.csv
vancouverCrime2004.csv
vancouverCrime2005.csv
vancouverCrime2006.csv
vancouverCrime2007.csv
vancouverCrime2008.csv
vancouverCrime2009.csv
vancouverCrime2010.csv
vancouverCrime2011.csv
vancouverCrime2012.csv
vancouverCrime2013.csv
vancouverCrime2014.csv
vancouverCrime2015.csv
vancouverCrime2016.csv
vancouverCrime2017.csv