<head>
  <style>
    #neighbourhoodChart g.row text {
      fill: black;
    }

    #typeChart g.row text {
      fill: black;
    }

    #monthChart .x.axis text {
      text-anchor: end !important;
      transform: rotate(-15deg);
    }
  </style>
  <link rel="shortcut icon" href="{{url_for('static', filename='assets/icon.ico')}}">
</head>
<header>
    <nav>
        <div class="nav-wrapper indigo darken-4">
          <a href="#" class="brand-logo">Vancouver Crime Dashboard</a>
    
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="https://www.linkedin.com/in/boris-tsao-8499b91b/">
                LinkedIn</a
              >
            </li>
            <li><a href="https://github.com/btsao604">GitHub</a></li>
          </ul>
        </div>
      </nav>
</header>
<body>
  

  <div class="container">

    <div class="row">
      <div class="col s12">
        <div class="dc-data-count">
          <span class="filter-count"></span> selected out of
          <span class="total-count"></span>
          <a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
        </div>
      </div>
      <div class="col s7">
        <p>
          Crime by Month
          <a href="javascript:monthChart.filterAll(); dc.renderAll();">Reset</a>
        </p>
        <div id="monthChart"><span class="filter"></span></div>
        <br />
        <p>
          Hourly Chart
          <a href="javascript:hourChart.filterAll(); dc.renderAll();">Reset</a>
        </p>
        <div id="hourChart"><span class="filter"></span></div>
      </div>

      <div class="col s5">
        <p>Crime Heatmap</p>
        <div id="mapid" style="height: 300px; width:100%"></div>
      </div>

      <div class="col s6">
        <p>
          Neighborhood Crime
          <a href="javascript:neighbourhoodChart.filterAll(); dc.renderAll();"
            >Reset</a
          >
        </p>
        <div id="neighbourhoodChart"><span class="filter"></span></div>
      </div>
      <div class="col s6">
        <p>
          Type of Crime
          <a href="javascript:typeChart.filterAll(); dc.renderAll();">Reset</a>
        </p>
        <div id="typeChart"><span class="filter"></span></div>
      </div>
      <div class="col s12">
        <p>
          This is a visualization for the city of Vancouver's crime activity
          which can be found
          <a href="https://data.vancouver.ca/datacatalogue/crime-data.htm"
            >here</a
          >. Please see the website for disclaimers and how to use the data.</p>
          <p>Note that data points where there were no coordinates provided or were offset due to privacy were removed. This includes homicide and offence against a person crimes.</p>
        </p>
      </div>
    </div>
  </div>
</body>

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/materialize.min.css')}}"
/>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/leaflet.css')}}"
/>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/dc.min.css')}}"
/>

<script src="{{url_for('static', filename='js/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='js/leaflet-heat.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
<script src="{{url_for('static', filename='js/lodash.js')}}"></script>
<script src="{{url_for('static', filename='js/crossfilter.min.js')}}"></script>
<script src="{{url_for('static', filename='js/d3.v5.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dc.min.js')}}"></script>
<script>

  var timeFormat = d3.timeFormat("%H:%M");
  const data = {{ data.chart_data | safe }}

  data.forEach(d => {
  d["timestamp"] = new Date(
    d["YEAR"],
    d["MONTH"] - 1,
    d["DAY"],
    d["HOUR"],
    d["MINUTE"]
  );
  d["time"] = timeFormat(d["timestamp"]);
});

const ndx = crossfilter(data);
typeDim = ndx.dimension(d => {
  return d.TYPE;
});
neighbourhoodDim = ndx.dimension(d => {
  return d.NEIGHBOURHOOD;
});
monthDim = ndx.dimension(d => {
  return d.MONTH;
});
hourDim = ndx.dimension(d => {
  return d.HOUR;
});
monthDim = ndx.dimension(d => {
  return d3.timeWeek(d.timestamp);
});
allDim = ndx.dimension(d => {
  return d;
});
all = ndx.groupAll();

dc.dataCount(".dc-data-count")
  .crossfilter(ndx)
  .groupAll(all);

typeGroup = typeDim.group();
neighbourhoodGroup = neighbourhoodDim.group();
monthGroup = monthDim.group();
hourGroup = hourDim.group();

monthGroup = monthDim.group();

typeChart = dc.rowChart("#typeChart");
neighbourhoodChart = dc.rowChart("#neighbourhoodChart");
hourChart = dc.barChart("#hourChart");

monthChart = dc.barChart("#monthChart");

monthChart
  .width(600)
  .height(125)
  .margins({ top: 10, right: 50, bottom: 30, left: 50 })
  .dimension(monthDim)
  .group(monthGroup)
  .x(d3.scaleTime().domain([new Date(2018, 0, 1), new Date(2018, 12, 31)]))
  .xUnits(d3.timeWeeks)
  .elasticY(true);

typeChart
  .width(500)
  .height(300)
  .x(d3.scaleLinear().domain([6, 20]))
  .elasticX(true)
  .dimension(typeDim)
  .group(typeGroup);

neighbourhoodChart
  .width(500)
  .height(300)
  .x(d3.scaleLinear().domain([6, 20]))
  .elasticX(true)
  .dimension(neighbourhoodDim)
  .group(neighbourhoodGroup);

hourChart
  .width(600)
  .height(100)
  .margins({ top: 10, right: 50, bottom: 30, left: 50 })
  .elasticY(true)
  .dimension(hourDim)
  .group(hourGroup);
hourChart.x(d3.scaleLinear().domain([0, 24]));

hourChart.yAxis().ticks(5);

monthChart.yAxis().ticks(5);

const mymap = L.map("mapid");
function drawMap() {
  mymap.setView([49.2537, -123.1207], 12);

  L.tileLayer(
    "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
    {
      maxZoom: 15,
      attribution: "leaflet-Boris",
      id: "mapbox.streets"
    }
  ).addTo(mymap);

  //Heatmap
  const geoData = [];
  _.each(allDim.top(Infinity), function(d) {
    geoData.push([d["LAT"], d["LON"], 1]);
  });
  const heat = L.heatLayer(geoData, {
    radius: 7.5,
    blur: 15,
    maxZoom: 1
  }).addTo(mymap);
}

drawMap();

charts = [monthChart, typeChart, neighbourhoodChart, hourChart];

_.each(charts, dcChart => {
  dcChart.on("filtered", (chart, filter) => {
    mymap.eachLayer(layer => {
      mymap.removeLayer(layer);
    });
    drawMap();
  });
});

dc.renderAll();

</script>
